@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 34px;

}

.our__story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}


.our__story__content p {
    text-align: start;
    font-family: 'Raleway' serif;
    color: #515C6D;
    font-size: 15px;
    margin-bottom: 40px;
}

.paragraph_our_core {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 300;
    color: #25364A;
}


.core__values {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.core__values_img {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marina {
    width: 240px;
    height: 337px;
}

.ul_our_core li {
    font-family: 'Raleway' serif;
    color: #515C6D;
    font-size: 15px;
    list-style-type: none;
    padding-top: 20px;


}



.our_promises {
    background-image: url(../img/about-us/port.jpg);
    background-size: cover;




}

.our_promises_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 20px;
}




.our_promises_background {
    background-color: rgba(37, 72, 123, 0.671);

}

.paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f1f0e8;
    font-family: "Playfair Display", serif;
    font-size: 34px;
}


.our_experience {
    border: white;
    background-color: rgba(117, 190, 218, 0.4);
    width: 241px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

}


.our_experience_title {
    padding-bottom: 50px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #f1f0e8;


}

.our_experience_text {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway' serif;
    color: white;
    font-size: 15px;
}

.our_service {
    border: white;
    background-color: rgba(117, 190, 218, 0.4);
    width: 241px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.our_service_title {
    padding-bottom: 50px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #f1f0e8;
}

.our_service_text {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway' serif;
    color: #f1f0e8;
    font-size: 15px;
}


.our_option {
    border: white;
    background-color: rgba(117, 190, 218, 0.4);
    width: 241px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.our_option_title {
    padding-bottom: 50px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #f1f0e8;
}

.our_option_text {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway' serif;
    color: #f1f0e8;
    font-size: 15px;
}

.addition {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #f1f0e8;
}


.our_partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.paragraph_partners {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    color: #25364A;
}

.hotels_title .norcoldtitle .gear_title .blue_state_title {
    font-family: 'Raleway' serif;
    color: #515C6D;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 32px;
}

.our_partners_hotels {
    margin-top: 30px;
}

.norcold {
    margin-top: 30px;
}

.gear {
    margin-top: 30px;
}

.blue_state {

    margin-top: 30px;
}





@media (min-width:768px) {
    .flex_story {
        display: flex;
        flex-direction: row;
    }

    .our__story__content {
        width: 590px;
    }

    .paragraph_our_core {
        display: flex;
        justify-content: start;
        font-family: "Playfair Display", serif;
        font-size: 24px;
        color: #25364A;
    }

    .ul_our_core {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;

    }

    .core__values_img {
        margin-left: 40px;

    }

   

    .flex_our_promises {
        display: flex;
        flex-direction: row;

    }

    .our_experience {
        margin-top: 40px;
    }

    .paragraph {
        font-size: 48px;
        font-weight: 200;
    }

    .our_experience_title .our_service_title .our_option_title {
        font-size: 24px;
    }

    .addition {
        font-size: 24px;
        font-weight: 200;
    }

    .flex_partners {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-top: 40px;
        margin-bottom: 40px;


    }

    .flex_partners img {
        width: 238px;
        height: auto;
    }

    .paragraph_partners {
        font-size: 48px;
        font-weight: 200;
        margin: 40px;
    }

    .flex_hotels {
        display: flex;
        flex-direction: column;


    }

    .hotels_title {
        width: 196px;
    }

    .flex_norcold {
        display: flex;
        flex-direction: column;
    }

    .norcold_title {
        width: 196px;
    }

    .flex_gear {
        display: flex;
        flex-direction: column;
    }

    .gear_title {
        width: 196px;
    }

    .flex_blue_state {
        display: flex;
        flex-direction: column;
    }

    .blue_state_title {
        width: 196px;
    }

}