.header_body{
    text-align: center;

}

.first{
 font-weight: bolder;
 font-size: 3em;
}
.secomd_one{
    margin-top: 1em;
}
.second{
    color: dimgray;
}
.im img{
    border-radius: 2em;
    margin-top: 1em;
    margin-left: 1em;
    
}
.card1{
    width: 550px;
    height: 200px;
    margin-bottom: 1em;
}
.text_page{
    margin-left: 1em;
}
.text_page .lab{
    font-size: 2em;
    font-weight: bold;
}
.t{
    margin-top: 1em;
}
.text_page .lab1 {
    font-size: 1em;
    color:darkgrey;
}
.text_page .lab2 {
    font-size: 1.2em;
    
}
.but{
    background-color: darkkhaki;
    font-size:  1em;
    font-weight: bold;
    border-radius: 1em;
    color:beige
}
.card1{
    display: flex;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card2{
    display: flex;
    width: 550px;
    height: 200px;
}
.card3{
    display: flex;
    width: 550px;
    height: 200px;
}
.card4{
    display: flex;
    width: 550px;
    height: 200px;
}
.global{
    margin-left: 3em;
    margin-top: 2em;
}
@media  (min-width: 500px) {
    .card1 {
            
            padding-bottom: 2em;
        }
    
        .card2 {
            margin-bottom: 3em;
        }
    
        .card3 {
            margin-bottom: 3em;
        }
    
        .card4 {
            margin-bottom: 3em;
        }
        .global{
            text-align: center;
        }
}
@media  (min-width: 200px) {
    .card1 {
            padding-bottom: 2em;
            
        }
    
        .card2 {
            margin-bottom: 3em;
        }
    
        .card3 {
            margin-bottom: 3em;
        }
    
        .card4 {
            margin-bottom: 3em;
        }
        
}
.im img{
    width: 250px;
    height: 200px;
}
.im img:hover{
    border: 0.1em solid chocolate;
}
.button_under_cart{
    text-align: center;
    margin: 30px;
    margin-bottom: 20px;
}
.button_under_cart button {
    background-color: darksalmon;
    border-radius: 20px;
    
}
.button_under_cart label{
    font-size: 20px;
}
.but_text{
    color: white;
    font-size: 20px;
}

.Clock, .Date, .Message{
    color:white;
    font-size: 40px;
    font-weight: bold;
}