.wrapper_footer {
    background-color: rgba(37, 54, 74, 0.85);
    display: flex;
    justify-content: space-around;
    
}

.footer_content {
    display:flex;
    flex-direction:column;

}

.footer_logo {
    width: 176px;
    height: 82px;
}

.footer_text {
    width: 183px;
    height: 98px;

}

.footer_nav_first a {
    display: block;

}

.footer_nav_second a {
    display: block;
}