.foter {
    background-color: var(--main-text-color);
    text-align: center;
}

.wrapper_footer {}

.footer_content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 176px;
    height: 82px;
    padding-top: 20px;
    padding-left: 70px;


}

.footer_text {
    color: var(--background-color-white);
    margin: 50px;
}

.footer_nav_first {
  margin-bottom: 50px;

}

.footer_nav_first a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;



}

.footer_nav_second {
    margin: 20px 50px;
}

.footer_nav_second a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


}

.follow_text {
    color: var(--background-color-white);
    padding-bottom: 10px;
}


.news_text {
    color: var(--background-color-white);
    margin-top: 30px;
    margin-bottom: 10px;
}

.form_for_news {
    margin-bottom: 30px;
}


.text_create {
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.text_right {
    color: var(--text-color);
    margin-bottom: 10px;
}