.foter {
    background-color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 176px;
    height: 82px;
    padding-top: 20px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.footer_text {
    color: var(--background-color-white);
    margin: 50px;
}

.footer_nav_first {
    margin-bottom: 50px;

}

.footer_nav_first a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;



}

.footer_nav_second {
    margin: 20px 50px;
}

.footer_nav_second a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


}

.follow_text {
    color: var(--background-color-white);
    padding-bottom: 10px;
}


.news_text {
    color: var(--background-color-white);
    margin-top: 30px;
    margin-bottom: 10px;
}

.form_for_news {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text_create {
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.text_right {
    color: var(--text-color);
    margin-bottom: 10px;
}

.subscribe {
    width: 272px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_footer {
    margin-top: 40px;
    padding-left: 140px;
    padding-right: 149px;
    height: 40px;
    width: 210px;
    border-radius: 20px;
    border: none;
    color:var(--background-color-white);
    background:var(--text-color);
}
.btn_text {

}
.input_footer {
    margin-top: 40px;
    padding-left: 140px;
    padding-right: 149px;
    height: 40px;
    width: 210px;
    border-radius: 20px;
    border: none;
}