@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.gallery-top {
  color: var(--main-text-color);
  text-align: center;
}

h2 .gallery-top {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
}

p .gallery-top {
  color: #515c6d;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.main-block-gallery {
  background-color: var(--background-color-white);
  display: grid;
  gap: 10px;
  padding-top: 50px;
  color: var(--main-text-color);
  text-align: center;
}

@media (min-width: 640px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 860px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gallery {
margin:6px;
align-items: stretch;
}
  

/*section two*/

.section-yachtsail-trips-text h2 {
  font-size: 34px;
}

.section-yachtsail-trips-text {
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: left;
  font-size: 16px;
  background-color: var(--background-color-wrap);
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: left;
}

@media (min-width: 640px) {
  .section-yachtsail-trips {
      display: flex;
  }
}


.section-yachtsail-trips-button {
  width: 150px;
  height: 40px;
  background: var(--text-color-hover);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.link, .section-yachtsail-trips-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
}