@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.gallery-top {
  color: var(--main-text-color);
  text-align: center;
}

.gallery-top h2 {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
}

.gallery-top p {
  color: #515c6d;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-block-gallery {
  background-color: var(--background-color-white);
  display: grid;
  gap: 30px;
  padding-top: 10px;
}

@media (min-width: 640px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 860px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 980px): {
.gallery-block-item-one {
  width: 270px;
  height: 332px;
 }
}

@media (min-width: 980px): {
  .gallery-block-item-two {
    width: 270px;
    height: 208px;
  }
}

@media (min-width: 980px): {
 .gallery-block-item-three {
    width: 270px;
    height: 218px;
  }
}

@media (min-width: 980px): {
  .gallery-block-item-four {
    width: 270px;
    height: 322px;
  }
}

@media (min-width: 980px): {
  .gallery-block-item-five {
    width: 270px;
    height: 330px;
  }
}

@media (min-width: 980px): {
  .gallery-block-item-six {
    width: 270px;
    height: 210px;
  }
}
@media (min-width: 980px): {
  .gallery-block-item-seven {
    width: 270px;
    height: 560px;
  }
}



/*
.main-block-gallery > div > div {
  height: 300px;
}

.main-block-gallery img {
  width: 100%;
}

.gallery-block-column-one {
background-color: red;
}

.gallery-block-column-two {
  background-color: green;
  }

.gallery-block-column-three {
  background-color: yellow;
  }
    
.gallery-block-column-four {
    background-color: blue;
    }
    




.gallery {
margin:6px;
align-items: stretch;
}
  

@media (min-width: 640px) {
  .gallery-block div img  {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
}
*/

/*section two*/

.section-yachtsail-trips {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/gallery/background-sea-surfers.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  margin-top: 30px;
}

.section-yachtsail-trips-text h2 {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: left;
}

.section-yachtsail-trips-text p{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: left;
  margin-top: 20px;
}

.section-yachtsail-trips-text {
  position: relative;
  z-index: 2
}

@media (min-width: 640px) {
  .section-yachtsail-trips {
      display: flex;
  }
}

.section-yachtsail-trips-button {
  width: 150px;
  height: 40px;
  background: var(--text-color-hover);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.section-yachtsail-trips-button:hover {
  background: white;
}

.link, .section-yachtsail-trips-button {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.link, .section-yachtsail-trips-button:hover {
  color: var(--text-color-hover);
}

.section-yachtsail-trips-image {
  background-color: white;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
}
