@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.gallery-top {
  color: var(--main-text-color);
  text-align: center;
}

.gallery-top h2 {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
}

.gallery-top p {
  color: #515c6d;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-block-gallery {
  background-color: var(--background-color-white);
  margin-top: 20px;
}

.gallery-block-column-one {
  margin: 25px;
}

.gallery-block-column-two {
  margin: 25px;
}
.gallery-block-column-three {
  margin: 25px;
}

.gallery-block-column-four {
  margin: 25px;
}

.gallery-block-item-one {
    background: url(../img/gallery/main-yacht.jpg);
    height: 332px;
    width: 270px;
    background-position: 60% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-two {
    background: url(../img/gallery/boy-on-the-yacht.jpg);
    height: 208px;
    width: 270px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-three {
    background: url(../img/gallery/girl-on-the-yacht.jpeg);
    height: 218px;
    width: 270px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-four {
    background: url(../img/gallery/watching-yachts.jpg);
    height: 322px;
    width: 270px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-five {
    background: url(../img/gallery/view-from-the-yacht.jpg);
    height: 330px;
    width: 270px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-six {
    background: url(../img/gallery/friends-on-the-yacht.jpg);
    height: 210px;
    width: 270px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 15px;
  }

.gallery-block-item-seven {
  background: url(../img/gallery/view-on-the-mountains.jpg);
  height: 560px;
  width: 270px;
  background-position: 45% 55%;
  background-size: cover;
  margin-bottom: 15px;
}

@media (min-width: 640px) {
  .main-block-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 860px) {
  .main-block-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  .main-block-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 130px 130px 50px;
  }
}

.section-yachtsail-trips {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/gallery/background-sea-surfers.jpg);
  background-size: cover;
}

@media (min-width: 860px) {
  .section-yachtsail-trips {
    display: grid;
    padding: 70px 100px 70px 100px;
    text-align: center;
    grid-template-columns: 1.25fr 0.75fr;
    }
  }

.section-yachtsail-trips-text h2 {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

@media (min-width: 860px) {
  .section-yachtsail-trips-text h2 {
    margin-top: 40px;
  }
}

.section-yachtsail-trips-text p{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

.section-yachtsail-trips-button {
  width: 150px;
  height: 40px;
  background: var(--text-color-hover);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.section-yachtsail-trips-button:hover {
  background: white;
}

.link, .section-yachtsail-trips-button {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.link, .section-yachtsail-trips-button:hover {
  color: var(--text-color-hover);
}

.section-yachtsail-trips-image {
  background: url(../img/gallery/girls-on-the-board.jpg);
  background-size: cover;
  background-position: 50% 85%;
  border-color: white !important;
  border-right: 30px solid;
  border-left: 30px solid;
  border-top: 20px solid;
  border-bottom: 20px solid;
  height: 340px;
  width: 510px;
}

@media (min-width: 320px) {
  .section-yachtsail-trips-image {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 320px) {
  .section-yachtsail-trips {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-yachtsail-trips-text {
  grid-auto-rows: auto;
}
