@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.gallery-top {
  color: var(--main-text-color);
  text-align: center;
}

h2 .gallery-top {
  font-size: 34px;
  font-family: 'Playfair Display', serif;
}

p .gallery-top {
  color: #515c6d;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.main-block-gallery {
  background-color: var(--background-color-white);
  display: grid;
  gap: 10px;
  padding-top: 50px;
  color: var(--main-text-color);
  text-align: center;
}

@media (min-width: 640px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 860px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  .main-block-gallery {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gallery {
margin:6px;
align-items: stretch;
}
  

/*section two*/

.section-yachtsail-trips {
  color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--background-color-wrap);
  display: grid;

}
@media (min-width: 640 px) {
   .section-yachtsail-trips{
      grid-template-columns: 1fr 1fr;
   }
}