@import url(comon.css);

.header__contacts {
    background-color: var(--background-color-white);
    /* display: flex;
    justify-content: space-between; */
}

.header__top-navigation {
    background-color: var (--background-color-nav);
    display: flex;
    justify-content: space-around;
}

.yacht-logo {
    width: 176px;
    height: 100%;
    justify-content: flex-start;
}

.header__banner {
    background-image: url(../img/header/header-banner-background.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__top-navigation-links {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}