@import url(comon.css);

.header__contacts {
    background-color: var(--background-color-white);
    /* display: flex;
    justify-content: space-between; */
}

.header__top-navigation {
    display: flex;
    background-color: var (--background-color-nav);
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.yacht-logo {
    margin: auto
    display: block;
    width: 100%;
    justify-content: flex-start;
    background-color: var (--background-color-nav);
}

.header__top-navigation-links {
    justify-content: space-around;
    align-items: center;
}

/*
.header__banner {
    background-image: url(../img/header/header-banner-background.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/