@media  (min-width: 500px) {
    .card1 {
            
            padding-bottom: 2em;
        }
    
        .card2 {
            margin-bottom: 3em;
        }
    
        .card3 {
            margin-bottom: 3em;
        }
    
        .card4 {
            margin-bottom: 3em;
        }
        .global{
            text-align: center;
        }
}
@media  (min-width: 200px) {
    .card1 {
            padding-bottom: 2em;
            
        }
    
        .card2 {
            margin-bottom: 3em;
        }
    
        .card3 {
            margin-bottom: 3em;
        }
    
        .card4 {
            margin-bottom: 3em;
        }
        
}