@import url(comon.css);


nav {
    font-family: 'Raleway', sans-serif;
}

.header-top {
    display: none;
}

.header_nav-links {
    display: none;
}

body.lock {
    overflow: hidden;
}

.header_nav-links.active {
    display: flex;
    position: fixed;
    top: 130px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 30%;
    row-gap: 25px;
}

.header__top-navigation-links.active {
    display: flex;
    column-gap: 15px;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}


.header_nav {
    background-color: var(--background-color-nav);
}

.header_nav.active {
    background-color: var(--background-color-nav);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.header_nav-wrap {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__logo {
    width: 160px;
    height: 74px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 10px;
}

.header-nav__logo-img {
    margin: 0;
}

.header-nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
}

.header-nav__burger span {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 100%;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header-nav__burger:before,
.header-nav__burger:after {
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
}

.header-nav__burger:before {
    top: 0;
}

.header-nav__burger:after {
    bottom: 0;
}

.header-nav__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}

.header-nav__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header-nav__burger.active span {
    transform: scale(0);
}

.header__top-navigation {
    width: 100%;
}

.header__top-navigation_wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    line-height: 16px;
}

.header__top-navigation-links_wrap {
    display: flex;
}

.header__top-navigation-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.header__top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-navigation-button {
    width: 150px;
    height: 40px;
    background: var(--text-color-hover);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.header__top-navigation-button:hover {
    background: white;
}

.link, .header__top-navigation-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    color: #d0bd8c;
}

.header__top-navigation-button:hover {
    color: #d0bd8c;
}

main {
    font-family: 'Playfair Display', serif;
}

.main__header {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
}

.main__header__info-h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: rgb(37, 54, 74);
    text-align: center;
    letter-spacing: 5px;
}

.main__header__info-content {
    flex-direction: column;
}

.main__header__info-h3 {
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--main-text-color);
}

.main__header__info-p-up {
    margin-top: 20px;
}

.main__header__info-left {
    padding-left: 15px;
    padding-right: 15px;
}

.main__header__info-left p {
    letter-spacing: 0.465px;
    line-height: 26px;
    color: rgb(81, 92, 109);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.destinations {
    background-image: url("../img/our-service/background_section_destination.jpg");
    background-size: cover;
    min-height: 1200px;
    background-attachment: fixed;
}

.destination-wrap {
    background-color: var(--background-color-wrap);
    background-size: cover;
    min-height: 1200px;
}

.destination__header {
    text-align: center;
    color: var(--background-color-white);
}

.destinations__h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 90px;
}

.sea__subheader {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;

}

.routes {
    flex-direction: column;
    row-gap: 30px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.frame {
    background-color: var(--background-color-white);
    width: 80%;
}

.frame-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding-top: 50px;
}

.croatian_isles_img,
.amalfi_img,
.norwey_img,
.turkey_img,
.spain_img,
.greece_img {
    max-width: 80%;
}

.croatian_isles_p,
.amalfi_p,
.norwey_p,
.turkey_p,
.spain_p,
.greece_p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
}

.accommodation_options {
    padding-bottom: 90px;
    padding-top: 90px;
}

.accommodation_options_header_h2, .crew-services__header_h2, .payment-options__header_h2 {
    text-align: center;
    font-size: 34px;
    padding-bottom: 60px;
}

.accommodation_options_main_content_cabin_h3,
.accommodation_options_main_content_yacht_h3,
.crew-services_content-captain-only_h3,
.crew-services_content-captain-skipper_h3,
.crew-services_content-all-inclusive_h3 {
    text-align: center;
    font-size: 22px;
}

.accommodation_options_main_content_cabin_p,
.accommodation_options_main_content_yacht_p,
.crew-services_content-captain-only_p,
.crew-services_content-captain-skipper_p,
.crew-services_content-all-inclusive_p,
.payment-options_content-10-30-60_p,
.payment-options_content-early-booking_p {
    font-weight: 500;
    letter-spacing: 0.465px;
    line-height: 26.25px;
    padding-left: 20px;
}

.accommodation_options_main_content_cabin_ul {
    list-style-image: url("../img/our-service/svg.JPG");
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(81, 92, 109);
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-left: 50px;
    margin-top: 20px;

}

.accommodation_options_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.accommodation_options_footer-button {
    width: 125px;
    height: 40px;
    background-color: var(--main-text-color);
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.accommodation_options_footer-link {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.accommodation_options_footer-button:hover {
    background-color: #d0bd8c;
}

@media (min-width: 1000px) {
    .header-nav__burger {
        display: none;
    }

    .header-top {
        margin: auto;
        display: block;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
    }

    .header__contacts {
        display: flex;
        justify-content: space-between;
    }

    .header__contacts-icons {
        display: flex;
        column-gap: 10px;
    }

    .header__contacts-tel {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .header__contacts a {
        font-size: 16px;
        color: #d0bd8c;
        text-decoration: none;
    }

    .header__contacts-social {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__contacts-social a {
        color: black;
    }

    .header_nav-links {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

@media (min-width: 770px) {

    .main__header__info-content {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }

    .routes {
        flex-direction: row;
    }

    .frame {
        width: 30%;
    }

    .accommodation_options_main_content, .crew-services_content {
        display: flex;
        column-gap: 10px;
    }

    .accommodation_options_main_content_wrap, .crew-services_content-wrap {
        padding-right: 45px;
        padding-left: 45px;
    }

    .payment-options_content {
        display: flex;
        column-gap: 30px;
    }

    .payment-options_content-10-30-60 {
        margin-left: 20px;
    }

    .payment-options_content-early-booking {
        margin-left: 20px;
        margin-right: 20px;
    }


}

.crew-services_content-captain-only_h3,
.crew-services_content-captain-skipper_h3,
.crew-services_content-all-inclusive_h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment-options {
    background-image: url(../img/our-service/background_section_payment_options.jpg);
    background-size: cover;
    max-height: 650px;
    background-attachment: fixed;

}

.payment-options-wrap {
    background-color: rgba(241, 240, 232, 0.95);
    background-size: cover;
    max-height: 650px;
}

.payment-options__header {
    padding-top: 30px;
    margin-top: 60px;
}

.payment-options_content-10-30-60,
.payment-options_content-early-booking {
    background-color: white;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.payment-options_content-10-30-60_h3,
.payment-options_content-early-booking_h3 {
    text-align: left;
    padding-left: 20px;
}

.payment-options_content {
    padding-bottom: 50px;
}

.enjoy-your-trip {
    background-color: #25364a;
}

.enjoy-your-trip_h2 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 60px;
    padding-top: 80px;
    color: white;
    line-height: 48px;
    letter-spacing: 2px;
}

.enjoy-your-trip_p {
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-bottom: 60px;
    color: white;
}

.form {
    background-image: url(../img/our-service/form.jpg);
    background-size: cover;
    min-height: 650px;
    background-attachment: fixed;

}

.form-content-wrap {
    background-color: white;

}

.form-background {
    background-color: rgba(37, 54, 74, 0.85);
    background-size: cover;
    min-height: 650px;
    display: flex;
}

.form-content-wrap_h2 {
    color: var(--main-text-color);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.form-content-wrap_p {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px;
}

.form-content-wrap_form {
    display: flex;
    flex-direction: column;
    padding: 39px 47px;
}

.form-content-wrap_form > input {
    margin-top: 20px;
    padding: 12px 24px;
}

.form-content-wrap_input-name {
    background-color: rgba(37, 54, 74, 0.12);
    border-radius: 20px;
    font-size: 14px;
    border: none;
}

.form-content-wrap_button {
    margin-top: 56px;
    margin-bottom: 20px;
}

.form-content-wrap_button {
    padding: 12px;
    background: var(--text-color-hover);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 16px;
}

.form-content-wrap_button:hover {
    background: white;
    color: var(--text-color-hover);
    transition: background-color ease 0.3s;
    cursor: pointer;
}

.footer {
    background-image: url(../img/our-service/footer.png);
    background-size: cover;
    min-height: 250px;
    margin-top: -10px;
}

.footer-logo-p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.footer-contetn-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.footer-contetn-column > a {
    margin-top: 15px;
}

.footer-content-column-h4 {
    color: white;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
}

.footer__contacts-icons {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;

}

.footer__contacts-social {
    border: 1px solid #d0bd8c;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__contacts-social > a {
    color: #d0bd8c;
}

.footer__contacts-social:hover {
    background-color: #d0bd8c;
}

.footer__contacts-social > a:hover {
    color: #25364a;
}
.form-footer-input-email {
    background-color: rgb(81, 92, 109);
    border-radius: 20px;
    font-size: 14px;
    border: none;
    width: 94%;
    text-align: center;
}
.form-footer-input-email, .form-content-wrap_button  {
    padding: 12px 24px;
}
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-footer_button {
    padding: 12px;
    width: 100%;
    background: var(--text-color-hover);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.form-footer_button:hover {
    background: white;
    color: var(--text-color-hover);
    transition: background-color ease 0.3s;
    cursor: pointer;
}
.footer-content {
    display: flex;
    flex-direction: column;
}
@media (min-width: 770px) {
    .form-content-wrap {
        max-width: 650px;
    }
    .footer-content {

        flex-direction: row;
        column-gap: 50px;
    }
    .form-footer-input-email {
        width: 72%;
    }
}