@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200;400&display=swap');

.header__h1_sav {
    font-family: 'Playfair Display', serif;
    border-bottom-color: rgb(37, 54, 74);
    border-left-color:rgb(37, 54, 74);
    border-right-color:rgb(37, 54, 74);
    border-top-color:rgb(37, 54, 74);
    border-image-width:1;
    color: rgb(37, 54, 74);
    box-sizing:border-box;
    margin-top:7%;
    font-size:300%;
    font-stretch: 100%;
    font-weight:900px;
    letter-spacing:1px;
    line-height:1%;
    overflow-wrap: break-word;
    text-align:center;
    vertical-align:baseline;
    -webkit-font-smoothing:antialiased;
    border-image-repeat: stretch;
    border-image-slice: 100%;
}

.paragraph__text_sav {
    font-family: 'Raleway', sans-serif;
    border-bottom-color: rgb(81, 92, 109);
    border-image-repeat: stretch;
    border-image-slice:100%;
    border-image-width:1;
    border-left-color:rgb(81, 92, 109);
    border-right-color:rgb(81, 92, 109);
    border-top-color:rgb(81, 92, 109);
    box-sizing:border-box;
    color:rgb(81, 92, 109);
    font-size:95%;
    font-stretch:100%;
    font-weight:500;
    letter-spacing:1px;
    line-height:30px;
    overflow-wrap:break-word;
    text-align:center;
    vertical-align: baseline;
    -webkit-font-smoothing:antialiased;
    margin-top:40px;
    margin-bottom: 40px;
}

@media (min-width:1200px) {
    .yacht_img {
        margin: 0.8%;
        display: flex;
        width: 11%;
        height: 11%;
    }

    .yachts { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0.8;
    }

    .paragraph__text{
        display: flex;

        justify-content: center;
    }

    .header__h1 {
        display: flex;
        justify-content: center;
    }

    .button_inst .img-bot {
        width: 12%;
    }
    
    .button_inst .img-top {
        width: 12%;
    }
}


@media (min-width:700px) and (max-width:1200px)
 {
    .yacht_img {
        margin: 0.8%;
        display: flex;
        width: 25%;
        height: 25%;
    }

    .yachts { 
        display: flex;
        flex-wrap: wrap;
        flex: 0.8;
        justify-content: center;
    }

    .button_inst .img-bot {
        width: 20%;
    }
    
    .button_inst .img-top {
        width: 20%;
    }
}

@media (min-width:300px) and (max-width:700px)
 {
    .yacht_img {
        margin: 0.8%;
        display: flex;
        width: 60%;
        height: 60%;
    }

    .yachts { 
        display: flex;
        flex-wrap: wrap;
        flex: 0.8;
        justify-content: center;
    }

    .button_inst .img-bot {
        width: 30%;
    }
    
    .button_inst .img-top {
        width: 30%;
    }
}

.button_inst {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.button_inst .img-top {
    display: none;
    position: absolute;
    z-index: 99;
}

.button_inst:hover .img-top {
    display: inline;
}