.background {
    color: rgb(37 54 74);
}
.our-fleet{    
    text-align: center;
    
    
}

.our-fleet__title{
    font-size: 48px;
    color: #25364a;
}
.our_fleet__title_subtitle{
    font-size: 15px;
    color: #515c6d
    
    }
    
